<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">

    <title>Hyperion - Collaborative Music Queue</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link href="../static/css/stylesheet.css" rel="stylesheet">

    <link async href="http://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Hyperion</a>
        </div>
        <div class="navbar-header btn-container">
            <button type="button" class="btn btn-success btn-circle btn-lg">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add</span>
            </button>

            <button type="button" class="btn btn-danger btn-circle btn-lg">
                <i class="glyphicon glyphicon-fast-forward"></i>
                <span>Skip</span>
            </button>
        </div>
    </div>
</nav>

<div class="container song-list">
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
    <div class="song-item">
        <div class="song-img">
            <img src="http://placehold.it/41x41">
        </div>
        <div class="song-desc">
            <div class="song-title">Solar Sailer</div>
            <div class="song-artist-album">Daft Punk - TRON: Legacy</div>
        </div>
    </div>
</div>

<!-- Fixed bottom navbar -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">

    </div>
</nav>

<!-- JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/js.cookie.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>
